body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
   
}
select{
    max-width: 300px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.articlebox .articletitle h2.articlehead a {
    color: #5b5b57;
    text-decoration: none;
}
.articlebox .articletitle a {
    color: #706e73;
}
div.articlebox {
    border-bottom: 3px solid #706e73;
    line-height: 1.4em;
    margin-bottom: 2em;
    padding: 0 2px 3em 8px;
}
.articletitle {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.row:before, .row:after {
    display: table;
    content: " ";
}
.row:after {
    clear: both;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
    border-left-color: inherit;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
.articlebox .articletitle h2.articlehead {
    font-family: MuseoSans,Georgia,'Trebuchet MS',sans-serif;
    font-size: 1.6em;
    line-height: 1.4;
    font-weight: 700;
    color: #5b5b57 !important;
    padding-bottom: 10px;
}
.articlebox .articletitle {
    border-bottom: 1px solid #e8e7e7;
    padding-bottom: 15px;
}
.articlebox .articlestats {
    display: block;
    float: left;
    margin: 15px 0;
}
.articleabstract {
    display: block;
    float: left;
}
.readmore {
    position: relative;
    float: left;
    background-color: #706e73;
    margin: 20px 0 0;
    padding: 6px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
}
.readmore:hover{
    text-decoration: none;
}